<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wei.practicedemo.dao.UserMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.wei.practicedemo.entity.UserEntity" id="UserMap">

        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="CHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="personal_plan" property="personalPlan" jdbcType="VARCHAR" />
        <result column="entry_date" property="entryDate" jdbcType="VARCHAR" />
        <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />

    </resultMap>



    <select id="queryUsers" parameterType="com.wei.practicedemo.entity.UserEntity" resultMap="UserMap">
        select id,user_name,sex,age,email,phone,personal_plan,entry_date,company_address
        from users
        <where>
            1=1
            <if test="userName!=null and userName!='' ">
                and user_name LIKE CONCAT(CONCAT('%', #{userName}),'%')
            </if>
            <if test="personalPlan!= null and personalPlan!= '' ">
                and personal_plan = #{personalPlan}
            </if>
            <if test="entryDate!=null and entryDate!='' ">
                AND entry_date = #{entryDate}
            </if>
            <if test="companyAddress!=null and companyAddress!='' ">
                AND company_address = #{companyAddress}
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="com.wei.practicedemo.entity.UserEntity">
        insert into users(user_name,sex,age,email,phone,personal_plan,entry_date,company_address)
        values (#{userName},#{sex},#{age},#{email},#{phone},#{personalPlan},#{entryDate},#{companyAddress})
    </insert>

    <update id="updateUser" parameterType="com.wei.practicedemo.entity.UserEntity">
        update users
        <set>
            <if test="userName != null">user_name=#{userName},</if>
            <if test="sex != null">sex=#{sex},</if>
            <if test="age != null">age=#{age},</if>
            <if test="email != null">email=#{email},</if>
            <if test="phone != null">phone=#{phone},</if>
            <if test="personalPlan != null">personal_plan=#{personalPlan},</if>
            <if test="entryDate != null">entry_date=#{entryDate},</if>
            <if test="companyAddress != null">company_address=#{companyAddress}</if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from users where id = #{id}
    </delete>



</mapper>